.DS_Store
.DS_Store?
.ipynb_checkpoints

# IDE files
.vscode/

# LibreOffice Lock files
.~lock.*

# Microsoft Office MacOS Lock files
~$*

# TexStudio Temp files
*.aux
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls

# secrets
secret*